body {
    margin: 0px;
}
#div_curObjN , #div_vid_ctrls, #div_reset_zoom {
    position: fixed;
    z-index: 300;
}
#div_curObjN {
    top: 0px;
    left: 50vw;
    font-size: 60px;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 1px white, 2px 2px black;
}
#div_vid_ctrls {
    bottom: 20px;
    left: 20px;
    font-weight: bold;
    #btn_play_pause {
        font-size: 30px;
    } 
}
#div_reset_zoom {
    top: 20px;
    left: 20px;
    font-weight: bold;
    #btn_reset_zoom{
        font-size: 30px;
    }
}



#div_n_medias_cont {
    border: 1px solid gray;
    box-sizing: border-box;

    position: relative;
    width: 100vw;
    height: 100vh;
    
    .cmp_div {
        background-image: url('tbg.webp');

        border: 1px solid orange;
        box-sizing: border-box;
        
        
        overflow: hidden;
        
        position: absolute;
        top: 0px;
        left: 0px;
        
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        
        transition: width 0.1s;
        
        
        .cmp_obj {
            // max-width: 100%;
            // max-height: 100%;
            object-fit: contain;
            // position: absolute;
            
            // width: auto;
            // height: auto;
            
            image-rendering: pixelated;
            // image-rendering: crisp-edges;
        } 
    }
    
}


